force-app/main/default/flows/Contact_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Updated_OwnerId</name>
        <label>Updated OwnerId</label>
        <locationX>422</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId_From_Contact_Record_Manager.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_UserId_Found</name>
        <label>If UserId Found</label>
        <locationX>414</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserId_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId_From_Contact_Record_Manager.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_OwnerId</targetReference>
            </connector>
            <label>UserId Found</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>UserId_From_Contact_Record_Manager</name>
        <label>UserId From Contact Record Manager</label>
        <locationX>177</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_UserId_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cvofmanager1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cvofmanager1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UserId_From_Contact_Record_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cvofmanager1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
